<!DOCTYPE html>
<html>
<head>
<title>
Account password reset</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="keywords" content="password reset">
<meta name="description" content="Reset your account password.">
<link rel="stylesheet" href="styles.css"/>
</head>
<body>
<div class="position">
<img src="../images/mango_plane.png" width="10%" height="10%">
<h1>Reset your Password</h1>
<p>A verification email will be sent to the mailbox. Please check it.</p><br><br><br><br>
<form id="form" action="/">
    <span class="placeholder">Enter your Email</span>
    <label class="inputSpace">
    <input type="email" required/>
    </label>
    <br><br><br>

    <span class="placeholder">Enter your code</span>
    <label class="inputSpace">
    <input type="number" required/>
    </label>
    <br><br><br>

    <input class="Sbutton" type="submit" value="Send">
</form><br><br><br><br>
<input class="button" type="button" value="Back to Login">
</div>
<footer>&copy; Copyright 2022 The Mango Place</footer>

</body>
</html>
